<h1>Word Counter!</h1>
<form action="/word">
  <div class="form-group">
    <label for="word">Enter a sentence, then a word you'd like to know how often appears in the sentence.
    </label>
    <input id="user_string" name="user_string" class="form-control" type="text" placeholder="Enter Sentence">
    <br>
    <input id="word" name="word" class="form-control" type="text" placeholder="Enter Word">
  </div>
  <button type="submit" class="btn btn-info">Send</button>
</form>
