<!DOCTYPE html>
<html>
<head>
  <title>Word Count</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <style> * {font-family: 'Open Sans Condensed', sans-serif;} label {font-size: 120%;} h1{font-size: 250%;} </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
